@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-blackColor: #000000;
  --spacing-5: 5px;
  --text-custom-size: 40px;
  --font-Angkor-custom: "Angkor";
}

.badge {
  @apply absolute top-0 text-white bg-black w-15 text-center rounded-full m-5;
}

.card {
  @apply flex flex-row justify-between flex-wrap p-10;
}

.grid-container {
  display: grid;
  height: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid rgb(211, 33, 33);
  margin: 10px;
  justify-content: center;
  align-content: center;
  /* grid-template-areas: 'item1 item1'
'item2 item3'
'item4 item4'; */
}

.item {
  margin: 10px;
  border: 2px solid black;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.item2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

/* .item1{
 grid-area:item1;
}
.item2{
 grid-area:item2;
}
.item3{
  grid-area: item3;
}
.item4{
  grid-area: item4;
}  */

/* .item4{
  align-self: start;
  justify-self: end;
 } */
