#navbar,
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SwiggyComponentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  width: 33.3%;
  height: auto;
}
.shimmerUiContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(202, 193, 193);
  width: 100%;
  height: 700px;
  justify-content: center;
}
.shimmerUiChild {
  width: 30%;
  background-color: rgb(202, 216, 216);
  margin: 20px;
}

#navbar h1 {
  margin: 0;
}

#swiggycomponentdiv .imgDiv {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 350px;
  border: 2px solid black;
}

.btnContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 500px;
}

.navimg.starIcon {
  height: 60px;
  width: 94px;
}
.navimg.navswiggylogo,
#login {
  height: 45px;
  width: 94px;
}
